:root {
  --color-background: #34344e;
  --color-backsecond: #ffffff;
  --color-backthird: #f49c89;
  --color-textcard: #34344e;
  --color-link: gray;
  --color-darkDostupText: #da3a16;
  --color-footer-light: #bababa;
  --color-backpinch3: var(--color-backthird);
  --color-backwhite2: var(--color-backsecond);
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Inter Regular", sans-serif;
  background-color: var(--color-background);
  color: var(--color-backsecond);
  font-size: 1.2rem;
  height: 100%;
}
.main {
  flex: 1 1 auto;
}
h1 {
  font-family: "SteelfishBold", sans-serif;
  font-size: 5rem;
}
h2 {
  font-family: "SteelfishBold", sans-serif;
  font-size: 4rem;
}
h3 {
  font-family: "SteelfishRegular", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}
::selection {
  background-color: var(--color-backthird);
}
a:hover {
  color: #08bb20;
  border-radius: 10rem;
}

a:active {
  color: #00ffff;
}
button {
  transition: all 0.5s;
}
a:focus {
  outline: 0.5rem solid rgb(24, 124, 255);
}
button:hover {
  background-color: #4caf50;
}

button:active {
  background-color: #f44336;
}

button:focus {
  outline: 0.5rem solid rgb(6, 106, 255);
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0;

  border: 0.3rem solid #253bff;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 0.5rem solid #ff0000;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: #0051ff;
  font-size: 1.4rem;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 1.4rem 2rem;
  margin: 0.8rem 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.6rem;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
button:hover {
  background-color: #4caf50;
  color: black;
  box-shadow: 0 1.2rem 1.6rem 0 rgba(0, 0, 0, 0.24),
    0 1.7rem 5rem 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1) rotate(20deg);
}
