:root {
  --color-background: #34344e;
  --color-textwhite: #ffffff;
  --color-textpinch: #f49c89;
  --color-textcard: #34344e;
  --color-textgray: gray;
  --color-backpinch: var(--color-textpinch);
  --color-backwhite: var(--color-textwhite);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter Regular";
  background-color: var(--color-background);
  color: var(--color-textwhite);
  font-size: 1.2rem;
}

h1 {
  font-family: "SteelfishBold", sans-serif;
  font-size: 5rem;
}
h2 {
  font-family: "SteelfishBold", sans-serif;
  font-size: 4rem;
}
h3 {
  font-family: "SteelfishRegular", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}
