.futer {
  color: var(--color-backsecond);
  padding-top: 8.7rem;
  padding-bottom: 9rem;
}
.footer-wrapper {
  width: 36rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.stremblema {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.emblema {
  font-family: "Inter Regular", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-backsecond);
  text-decoration: none;
}
.firststrcontact {
  color: var(--color-backsecond);
  display: grid;
  grid-template-columns: 8.3rem 23.2rem;
  column-gap: 3.8rem;
  align-items: start;
  list-style-type: none;
}
.ones-contact {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  column-gap: 1.5rem;
}
.twos-contact {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  padding-left: 22rem;
  position: relative;
  list-style-type: none;
}
.grid-futer1 {
  display: grid;
  grid-template-columns: 10.1rem 10.1rem;
  column-gap: 2rem;
  row-gap: 1.5rem;
  padding-top: 0.4rem;
  margin-bottom: 1.5rem;
  width: 20rem;
  list-style-type: none;
}
.secondstrcontact {
  color: var(--color-backsecond);
  display: flex;
  gap: 3.8rem;
  align-items: center;
  margin-left: 11.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.grid-futer1 .contactfirststr {
  color: var(--color-backsecond);
  text-decoration: none;
}
.contactslist {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 1.5rem;
}

.contactsecondstr {
  color: var(--color-backsecond);
  text-decoration: none;
}
.contacts {
  color: var(--color-backsecond);
  text-decoration: none;
  margin-left: 9.3rem;
  padding-bottom: 1.5rem;
}

.mailp {
  display: block;

  margin-bottom: 1.5rem;
  color: var(--color-backsecond);
  text-decoration: none;
  list-style-type: none;
}
.phone {
  display: block;
  color: var(--color-backsecond);
  text-decoration: none;

  list-style-type: none;
  padding-bottom: 5.5rem;
}
.nameorg {
  color: var(--color-link);
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.autorname {
  color: var(--color-backpinch3);
  text-decoration: none;
  padding-left: 0.4rem;
}
.autor {
  color: var(--color-link);
  display: flex;

  padding-top: 0;
  margin-top: 0;
  position: relative;
}
.autorparagraf {
  margin-top: 0;
}
.cohial {
  display: flex;
  gap: 1.5rem;
  padding-left: 0;
  padding-bottom: 0;
  flex-direction: column;
  margin-left: 12rem;
  position: relative;
  bottom: 4.3rem;
}
