.grid-wrapper {
  width: 100%;
  height: 100%;
}

.grid_container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 6rem);
  grid-template-rows: repeat(11, 3rem);
  border-radius: 1rem;
}
.item {
  border: 0.3rem solid black;
  background-color: white;
}
.item1 {
  grid-column: span 3;
}
.item2 {
  grid-column: span 2;
  background-color: yellow;
}
.item3 {
  grid-column: span 3;
  grid-row: span 8;
  background-color: red;
}
.item4 {
  grid-column: span 2;
  grid-row: span 4;
  background-color: yellow;
}
.item5 {
  grid-row: span 4;
  grid-column: 1.3;
}
.item6 {
  grid-row: span 4;
  grid-column: 0.7;
}
.item7 {
  grid-row: span 2;
  background-color: black;
}
.item8 {
  grid-column: span 2;
  grid-row: span 2;
}
