@use "../utils/mixins";

.header-wrapper {
  font-family: "Inter Medium", sans-serif;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  padding-top: 1.7rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  width: 36rem;
  & a {
    color: var(--color-backsecond);
    text-decoration: none;
  }
  & button {
    border: none;
  }
}
