@use "../utils/mixins";

header {
  max-width: 85rem;
  margin: 0 auto;
}
.header-wrapper {
  font-family: "Inter Medium", sans-serif;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  padding-top: 1.7rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  max-width: 85rem;
  & a {
    color: var(--color-backsecond);
    text-decoration: none;
  }
  & button {
    border: none;
  }
}
.header-str {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-right: 0.5rem;
}
.headet-str-768 {
  display: none;
}
.skip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 10px 15px;
  color: #18191c;
  background: #066a4c;
  transform: translateY(-100%);
}
.skip:focus {
  transform: translateY(20%);
}
.skip1 {
  margin-left: 10rem;
  color: var(--color-backwhite2);
  font-size: 3rem;
}
