.headerhero {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}
.strimg {
  float: left;
}
.sectionhero {
  padding-top: 4.9rem;
  padding-bottom: 7.25rem;
}
.textrighthero {
  // display: block;
  text-align: right;
}

.testdraiv {
  display: block;
  background-color: var(--color-backpinch3);
  font-family: "Inter Medium", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-backsecond);
  padding: 1.3rem 3rem;
  text-decoration: none;
  min-width: 32rem;
  border-radius: 4rem;
  max-width: 39.2rem;
  border: none;
}
.paragr {
  max-width: 39.2rem;
  margin: 0;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}
