.headerhero {
  margin-left: 2rem;
  margin-right: 2rem;
}
.textrighthero {
  display: block;
  text-align: right;
  margin-left: 0.8rem;
}

.testdraiv {
  display: block;
  background-color: var(--color-backpinch);
  font-family: "Inter Medium";
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-textwhite);
  padding: 1.3rem 4rem;
  text-decoration: none;
  border-radius: 4rem;

  border: none;

  margin: 2rem 2rem 14.5rem 2rem;
}
.paragr {
  margin: 2rem 2rem 2rem 2rem;
}
