.textcard {
  // margin: 0 auto;

  & ul {
    list-style-type: none;
  }

  & li {
    background-color: var(--color-backwhite);
    color: var(--color-textcard);
  }
  & a {
    background-color: var(--color-backwhite);
    color: var(--color-textpinch);
  }
  & h3 {
    font-family: "SteelfishRegular";
    font-size: 30px;
  }
}
.forma {
  background-color: var(--color-backwhite);
  color: var(--color-textcard);
  width: 320;
  .textc {
    margin: 36px 20px 30px 20px;
  }
  form {
    padding: 20px;
  }
  fieldset {
    margin-bottom: 20px;
  }
  legend {
    font-family: "Inter Medium";
  }
  button {
    width: 320px;
    height: 43px;
    display: block;
    background-color: var(--color-backpinch);
    font-family: "Inter Medium", sans-serif;
    font-size: 12px;
    text-align: center;
    color: var(--color-backwhite);
    padding: 13px 45px;
    text-decoration: none;
    border-radius: 40px;
    margin: 20px;
    border: none;
  }
}
.cost {
  display: inline-block;
  font-family: "Steelfish Regular";
  font-size: 30px;
}
