@media (min-width: 768px) {
  h1 {
    font-size: 8rem;
  }

  body {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 6.3rem;
  }
  .headet-str-768 {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 0.5rem;
  }
  .newline {
    display: inline;
  }
  .imgheader11 {
    width: 19.5rem;
    height: 6.7rem;
    object-fit: cover;
    border-radius: 20rem;
    display: inline-block;
  }
  .imgheader22 {
    width: 10.3rem;
    height: 6.7rem;
    object-fit: cover;
    border-radius: 20rem;
    display: inline-block;
  }
  .imgheader1 {
    display: none;
  }
  .imgheader2 {
    display: none;
  }
  .card {
    min-width: 34.4rem;
    min-height: 65.5rem;
  }
  .cardlast {
    min-width: 34.4rem;
    min-height: 65.6rem;
  }
  h3 {
    font-size: 4.2rem;
  }
  .footer-card {
    display: flex;
    flex-direction: column;
  }
  .cardlink {
    padding-left: 2rem;
    padding-top: 4rem;
  }
  .cardlink2 {
    padding-top: 4rem;
  }
  .cardlink1 {
    padding-top: 3.8rem;
  }
  .cards1 {
    gap: 2rem;
  }
  .firststr {
    display: inline-block;
  }
  .textrighthero {
    margin-left: 15%;
  }
  .whiteheader {
    display: inline;
    text-align: center;
  }
  .carddetalis {
    min-width: 34.8rem;
    min-height: 47.8rem;
  }
  .carddop {
    min-width: 30.8rem;
    min-height: 47.8rem;
  }
  .blacklink {
    margin-top: 2.6rem;
    margin-left: 2rem;
  }
  .body-wrapper-form {
    max-width: 85rem;
  }
  .bodyforms {
    grid-template-columns: 31.4rem 31.4rem;
  }
  .net {
    display: none;
  }
  .faieldset {
    grid-template-rows: repeat(4, 2.4rem);
    grid-template-columns: 31.4rem;
    gap: 1rem;
    border: none;
    padding: 3rem 3rem 3.5rem 3rem;
  }
  .lastfaieldset {
    grid-template-rows: repeat(4, 2.4rem);
    grid-template-columns: 31.4rem;
    gap: 1rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }
  .costform {
    display: block;
    position: relative;
    left: 22rem;
  }
  .bron {
    position: relative;
    left: 33rem;
    bottom: 2rem;
    padding: 1.4rem 3.6rem;
    width: 24rem;
  }
  .textgray {
    width: 40rem;
  }
  .whiteheader11 {
    justify-content: flex-start;
    .text-org {
      margin: 0;
      display: inline;
      text-align: left;
    }
    .textleft {
      margin: 0 auto;
    }
  }
  .lefttext {
    display: inline;
    text-align: left;
  }
  .flexx {
    display: grid;
    grid-template-columns: 22.3rem 48rem;
    column-gap: 4rem;
  }
  .headertestdraiv {
    padding-top: 2rem;
  }
  .flex-container22 {
    display: grid;
    grid-template-rows: 28.3rem 40rem;
    column-gap: 4rem;
    .column-one {
      padding-top: 2.1rem;
    }
    .column-two {
      padding-top: 5.1rem;
    }
    .flex-container {
      display: grid;
      grid-template-columns: 28.3rem 40rem;
      column-gap: 4rem;
      .column-one {
        padding-top: 2.1rem;
      }
      .column-two {
        padding-top: 5.1rem;
      }
    }
    .footer-wrapper {
      max-width: 78rem;
      width: 100%;
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .twos-contact {
      left: 14rem;
      bottom: 6.5rem;
    }
    .cohial {
      left: 38rem;
      flex-direction: column-reverse;
      row-gap: 0;
      width: 22.3rem;
      top: -10.7rem;
    }
    .company-date {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .phone {
      padding-bottom: 1.5rem;
    }

    .ones-contact {
      justify-content: flex-end;
    }
    .autor {
      justify-content: flex-end;
      bottom: 6.6rem;
    }
    .link {
      margin-left: 3rem;
      margin-right: 3rem;
    }
    .body-card-wrapper {
      padding-left: 2rem;
    }
    .body-wrapper-button {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  @media (min-width: 1024px) {
    h2 {
      font-size: 6.3rem;
    }
    h1 {
      font-size: 9rem;
    }
    h3 {
      font-size: 4.2rem;
    }
    p {
      font-size: 1.5rem;
    }

    .strheroleft {
      margin-right: 8rem;
    }
    .cards1 {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      margin: none;
      max-width: none;
      align-items: none;
      justify-content: none;
    }
    .card-wrapper {
      width: 100%;
    }
    .body-card-wrapper {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      max-width: none;
      margin: 0 auto;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .body-wrapper-form {
      max-width: 100%;
    }
    .cost {
      margin: 0 34rem 0 2rem;
    }
    .card {
      width: 100%;
    }
    .cardlast {
      width: 100%;
      .cardlink {
        padding-top: 9rem;
      }
    }

    .img-for-form {
      display: none;
    }
    .img-for-form-second {
      display: inline;
      grid-row: span 3;
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      min-height: 28rem;
      border-radius: 1rem;
    }
    .body-wrapper {
      max-width: 121.6rem;
    }
    .textleft {
      margin: 0;
      margin-right: 45%;
    }
    .body-wrapper-test {
      max-width: 121.6rem;
    }
    .flexx {
      margin-left: 20vw;
    }
    .gottestdraiv {
      margin-left: 65%;
    }
    .costs {
      font-size: 4.2rem;
    }
    .bron {
      top: 13rem;
      left: 71rem;
    }
    .media {
      margin: 0 auto;
      max-width: 102.4rem;
    }
    .forma {
      margin: 0 auto;
      max-width: 102.4rem;
    }
    .textc {
      width: 60%;
    }
    .bodyforms {
      grid-template-columns: 20rem 30rem 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .costform {
      display: none;
    }
    .costform-second {
      display: block;
      padding: 0 3rem 3.5rem 3rem;
    }
    .firststr_white_head {
      margin-left: 40rem;
    }
    .newstr {
      display: block;
    }
    .laststrform {
      grid-template-rows: 1rem;
      grid-template-columns: 1fr 1fr;
    }
    .white-header {
      text-align: left;
    }
    .body-three {
      padding-left: 3rem;
    }
    .img-bigcamera {
      display: none;
    }
    .img-bigcamera-second {
      display: inline;
      grid-row: span 5;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
    .flex-container1 {
      justify-content: space-evenly;
      margin: 0;
    }
    .buttondevicechoice {
      margin: 0;
    }
    .list_button {
      display: grid;
      grid-template-columns: 1fr 47.2rem;
      grid-template-rows: repeat(5, 1fr);
      column-gap: 1rem;
      row-gap: 1rem;
    }
    .sxema {
      display: none;
      width: 100%;
    }

    .sxema1 {
      display: inline;
      width: 100%;
    }
    .header-wrapper {
      max-width: 100%;
      margin: 0;
    }
    .textleft {
      margin-left: 17vw;
      margin-right: 0;
    }
    .whiteheader11 {
      .textleft {
        margin: 0;
      }
    }
    .strheroleft {
      margin-right: 0;
    }
    .buttondevice {
      align-items: center;
    }
    .gottestdraiv {
      margin-left: 0;
    }
  }
  @media (min-width: 1216px) {
    h1 {
      font-size: 13rem;
    }
    h2 {
      font-size: 9.2rem;
    }
    h3 {
      font-size: 4.2rem;
    }
    p {
      font-size: 1.5rem;
    }
    a {
      font-size: 1.5rem;
    }
    .body-wrapper {
      max-width: 121.6rem;
    }
    .body-wrapper-test {
      max-width: 121.6rem;
    }
    .body-wrapper-button {
      max-width: 121.6rem;
      margin: 0 auto;
    }
    .body-wrapper-form {
      max-width: 121.6rem;
    }
    .body-card-wrapper {
      max-width: 121.6rem;
    }
    .body-four {
      height: 100rem;
    }
    .header-sxem1 {
      margin-right: 12vw;
    }
    .footer-wrapper {
      width: 121.6rem;
      max-width: 121.6rem;
      margin: 0 auto;
    }
    .firststrcontact {
      column-gap: 19rem;
    }
    .grid-futer1 {
      column-gap: 8rem;
    }
    .cohial {
      width: 10rem;
      left: 80rem;
      bottom: 11rem;
    }
    .twos-contact {
      left: 47rem;
      bottom: 7rem;
    }
    .nameorg1 {
      position: relative;
      left: 40rem;
      bottom: 3.3rem;
      width: 30rem;
    }
    .flex-container {
      flex-direction: row;
    }
    .column-one {
      width: 49.5rem;
    }
    .column-two {
      width: 49.5rem;
      padding-top: 3rem;
    }
    .autor {
      max-width: 30rem;
      left: 85rem;
      bottom: 6.3rem;
    }
    .textleft {
      padding-left: 29rem;
    }
    .headerquastion {
      position: relative;
    }
    .quastionfirst {
      position: relative;
      width: 70rem;
      left: 48rem;
      bottom: 5rem;
    }
    .hr-top {
      position: relative;
      bottom: 5rem;
    }
    .headerquastion2 {
      bottom: 4rem;
    }
    .quastionsecond {
      position: relative;
      bottom: 9rem;
      width: 70rem;
      left: 48rem;
    }
    .map {
      width: 59.8rem;
      position: relative;
      left: 59rem;
    }
    .contactsbody {
      position: relative;
      bottom: 45rem;
      .hr-quastion {
        width: 57rem;
      }
    }

    .cost {
      margin: 0 43.4rem 0 2rem;
    }
    .imgheader11 {
      width: 28.2rem;
      height: 10.8rem;
    }
    .imgheader22 {
      width: 18.6rem;
      height: 10.8rem;
    }
  }
}
