.borderr {
  border-radius: 1rem;
}
.border1 {
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.imagunder {
  position: relative;
  z-index: 2;
  bottom: 2rem;
  border-radius: 1rem;
}
.map {
  border-radius: 1rem;
  margin-bottom: 4.2rem;
}
