.borderr {
  border-radius: 1rem;
}
.grafic-img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.imagunder {
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 38.8rem;
  position: relative;
  z-index: 2;
  bottom: 2rem;
  border-radius: 1rem;
}
.map {
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.imgheader1 {
  width: 8.5rem;
  height: 4.1rem;
  object-fit: cover;
  border-radius: 20rem;
}
.imgheader2 {
  width: 6.2rem;
  height: 4.1rem;
  object-fit: cover;
  border-radius: 20rem;
  display: inline-block;
}
.imgheader11 {
  display: none;
}
.imgheader22 {
  display: none;
}
.img_card {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 1rem;
  height: 33.6474rem;
}
.img-button {
  object-fit: cover;
  width: 6rem;
  height: 5rem;
  border-radius: 1rem;
}
.sxema {
  width: 100%;
  height: 100%;
}
.sxema1 {
  display: none;
  width: 100%;
}
.img-for-form {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  min-height: 28rem;
  border-radius: 1rem;
}
// .img-for-form-second {
//   display: none;
// }
.img-bigcamera {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
